# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
Servers
**/target/
/target/
*/target/*
.classpath
.project
.settings
.idea
.gradle
.metadata
# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
.DS_Store
/build
