<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>rest-api</display-name>
  <servlet>
  	<description>
  	</description>
  	<display-name>ClientRepoServlet</display-name>
  	<servlet-name>ClientRepoServlet</servlet-name>
  	<servlet-class>servlets.ClientRepoServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>viewClient</display-name>
  	<servlet-name>viewClient</servlet-name>
  	<servlet-class>servlets.viewClient</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClientRepoServlet</servlet-name>
  	<url-pattern>/ClientRepoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewClient</servlet-name>
  	<url-pattern>/viewClient</url-pattern>
  </servlet-mapping>
   <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
    <welcome-file>main.html</welcome-file>   
  </welcome-file-list>
 

   
  
  
</web-app>